//fonts
/*@font-face {
    font-family: 'Playfair-Display-Regular';
    src: url('../fonts/playfairdisplay-regular.eot');
    src: url('../fonts/playfairdisplay-regular.eot?') format('eot'),
         url('../fonts/playfairdisplay-regular.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular.woff') format('woff'),
}*/