@import '../body/main';

.content {
	text-align: center;
	
	.content-part {
		background: $bg-color-content;
		margin-bottom: 25px;
		padding-top: 25px;
		padding-bottom: 32px;
		
		&:last-child {
			margin-bottom: 0px;
		}
	}
	
	.col-custom{
		margin-left: 19px;
	}
	
	h3 {
		font-size: 33.75px;
		margin-bottom: 40px;
		font-weight: 400;
	}
	p {
		font-size: 22.5px;
		font-weight: 300;
		line-height: 27px;
		min-width: 510px;
	}
	
	#laptop {
		margin-left: -30px;
		margin-top: 13px;
	}
}