@import '../body/main';

.header {
	position: relative;
	padding-top: 28.28px;
	padding-bottom: 67px;
	background: $bg-color-old;
	@include background-image(radial-gradient(circle farthest-side at 40% 40%, $bg-color-secondary 10%, $bg-color 90%));
	.header-top {
		display: block;
		
		#headerLogo {
			margin-left: 22px;
			display: inline-block;
			
			color: $color_black;
			
			img {
				float: left;
			}
			
			span {
				font-size: 27.58px;
				font-family: 'Biko_Regular';
				display: inline-block;
				margin-top: 3px;
				margin-left: 7px;
				float: left;
			}
		}
		
		.header-top-menu {
			float: right;
			padding-right: 23px;
			
			ul {
				display: inline-block;
				list-style-type: none;
				margin: 0;
				padding: 0;
				letter-spacing: -0.7px;
				
				li {
					display: inline-block;
					padding-top: 9px;
					padding-right: 30px;
					padding-left: 30px;
					margin-left: 30px;
					border: 3px solid transparent;
					font-size: 18px;
					font-weight: 400;
					line-height: 0.9;
					box-sizing: border-box;
					height: 44px;
					cursor: pointer;
					
					&:hover {
						border: 3px solid $color_black;
					}
					
					&:first-child {
						margin-right: 7px;
					}
					&:last-child {
						border: 3px solid $color_black;
						
						&:hover {
							border: 3px solid #d58137;
							color: #d58137;
						}
					}
				}
			}
		}
		
		#menu_burger {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: rgb(0, 0, 0);
			
			ul {
				display: block;
				list-style-type: none;
				margin: 0;
				margin-top: 0px;
				padding: 0;
				color: white;
				text-align: center;
				
				li {
					display: block;
					margin: 10px 30px;
					border: 3px solid transparent;
					font-size: 18px;
					font-weight: 400;
					line-height: 1;
					box-sizing: border-box;
					height: 44px;
					
					a {
						display: inline-block;
						padding: 10px 30px;
						
						&:link, &:visited {
							color: white;
						}
					}
					
					&:last-child {
						a {
							border: 3px solid green;
						}
					}
				}
			}
		}
		#menu_burger.closed {
			opacity: 0.0;
		}
		
		#menu_burger.opened {
			z-index: 100;
		}
	}
	.header-main {
		position: relative;
		
		.pows{
			opacity: 0;
			position: absolute;
			transition: all 0.7s ease-out;
		}
				
		#logoMain {
		    position: relative;
			margin-left: 64px;
			margin-top: 48px;
			z-index: 1;
		}
		
		h2 {
			position: relative;
			font-size: 36px;
			letter-spacing: -0.6px;
			margin-left: 111px;
			margin-top: 11px;
			z-index: 10;
		}
		
		#pow-1{
			top: 130px;
			right: 321px;
		}
		#pow-2{
			top: 100px;
			right: 233px;
		}
		#pow-3{
			top: 133px;
			right: 132px;
		}
		#pow-4{
			top: 180px;
			right: 36px;
		}
		#pow-5{
			top: 271px;
			right: 13px;
		}
		#pow-6{
			top: 356px;
			right: 16px;
		}
		
		p {
			padding: 40px 55px 20px 20px;
			font-size: 22px;
			text-align: center;
			line-height: 25px;
			margin: 0;
		}
	}
	&:before {
		    content: '';
			display: block;
			width: 0;
			height: 0;
			border-bottom: 56px solid white;
			border-right: 50vw solid transparent;
			position: absolute;
			top: calc(100% - 55.5px);
			left: 0;
	}
	&:after {
		    content: '';
			display: block;
			width: 0;
			height: 0;
			border-bottom: 56px solid white;
			border-left: 50vw solid transparent;
			position: absolute;
			top: calc(100% - 55.5px);
			right: 0
	}
}

/*@media screen and (min-width: 992px) {
}*/
@media screen and (max-width: 991px) {
	.header {
		.header-top {
			.header-top-menu {
				ul {
					li {
						padding-right: 20px;
						padding-left: 20px;
						margin-left: 20px;
					}
				}
			}
		}
		.header-main {
			
			.pows{
				width: 45px;
			}
					
			#logoMain {
				width: 55%;
			}
			
			h2 {
				font-size: 30px;
			}
			
			#pow-1{
				right: 220px;
			}
			#pow-2{
				top: 95px;
				right: 155px;
			}
			#pow-3{
				right: 90px;
			}
			#pow-4{
				right: 25px;
			}
			#pow-5{
				right: 10px;
			}
			#pow-6{

			}
			
			p {
				font-size: 20px;
			}
		}
		
	}
}
@media screen and (max-width: 700px) {
	.header {
		#headerLogo {
			margin-left: 0px !important;
		}
		.header-top {
			text-align: center;
			
			.header-top-menu {
				display: none;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.header {
		.header-top {
			.header-top-menu {
			    padding-right: 40px;
				
				ul {
					li {
						padding-right: 10px;
						padding-left: 10px;
						margin-left: 10px;
					}
				}
			}
		}
		.header-main {
		
			h2 {
				font-size: 28px;
				margin-left: 55px;
			}
			
			.pows{
				width: 40px;
			}
			
			#pow-1{
				right: 160px;
			}
			#pow-2{
				top: 100px;
				right: 105px;
			}
			#pow-3{
				right: 60px;
			}
			#pow-4{
				right: 25px;
			}
			#pow-5{
				right: 10px;
			}
			#pow-6{

			}
			
			#logoMain {
				width: 55%;
			}
			
			p {
				padding-top: 30px;
				padding-left: 15px;
				font-size: 18px;
				font-weight: 400;
			}
		}
		&:before {
			top: calc(100% - 54.5px);
		}
		&:after {
			border-bottom: 56px solid white;
			border-left: 51vw solid transparent;
			right: -1px;
			top: calc(100% - 54.5px);
		}
	}
}
@media screen and (max-width: 575px) {
	.header {
		.header-top {

		}
		.header-main {
		
			h2 {
				margin-left: 0px;
				text-align: center;
				font-size: 24px;
			}
			
			.pows{
				display: none;
			}
			
			#logoMain {
				display: block;
				width: 70%;
				margin: 40px auto 20px;
			}
			
			p {
				padding-top: 20px;
				padding-left: 20px;
				padding-right: 20px;
				font-size: 15px;
			}
		}
	}
}